section.s-contacts#contacts
	.container
		.row
			.col-md-12
				h1 Наши контакты
		.row
			.col-md-8
				.map
					script(type="text/javascript" charset="utf-8" src!="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=jc2KfWc7CFFrGPg5r4pK2Cv1-0RELmWo&width=100%&height=100%&lang=ru_RU&sourceType=constructor")
			.col-md-4
				.contact-info
					h4 Контактная информация
					ul
						li
							span Адрес
							a(href="https://maps.yandex.ru/-/CVs0IJ0Z" target="_blank") 620034 г. Екатеринбург, ул. Готвальда 6/4 оф.200
						li
							span Телефон
							a(href="tel: +73432048005") (343) 204-80-05
						li
							span E-mail
							a(href="mailto:inbox@t-tel.ru") inbox@t-tel.ru

