//- .parallax-window(data-parallax="scroll" data-positionY="bottom" naturalWidth="5472" naturalHeight="3648" data-bleed="10" )
.loader
	.loader_inner

header
	.container
		.row
			.col-md-12.top-wrapper
				.logo
					img(src="img/logo_.png", alt="Технотел")
					.text 
						h2 Технотел
						p Центр инсталляций
				#main-menu.menu.hidden
					ul
						li.menu-item-services
							a(href="#services") 
								i.fa.fa-sitemap
								Услуги
						li.menu-item-about-us
							a(href="#about-us")
								i.fa.fa-info
								О нас
						li.menu-item-contacts
							a(href="#contacts")
								i.fa.fa-envelope
								Контакты
				a.toggle_mnu(href="#")
					span.nav-icon
						span
						span
						span
						span



.splash-overlay#splash-overlay
	.splash-wrapper
		.splash-container
			.splash-center
				h1. 
					Ведущий системный интегратор <br>
					инсталляционных услуг
				.buttons
					a.popup-with-form.popup-with-zoom-anim(href="#callback-form" ) Заказать звонок
					#callback-form.white-popup-block.mfp-hide.zoom-anim-dialog
						form(method="POST" id="formx" action="/")
							.list-1
								h1 Обратный звонок
								label Номер телефона
									input(type="text" placeholder="Ваш номер телефона")
								button.send(type="submit") Заказать
								.result
						.list-2
							h1. 
								Заявка успешно <br />
								отправлена

							button.send.send-close Закрыть
