section.s-about-us#about-us
	.container
		.row
			.col-md-12
				h1 О нас
		.row
			.col-md-12
				p.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ab maxime vitae quasi impedit fugit saepe sed tempora, repudiandae possimus!
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet!
				ul
					li Lorem ipsum dolor.
					li Lorem ipsum dolor sit amet.
					li Lorem ipsum dolor sit.
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				p.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptates ratione assumenda numquam, quo corporis aliquam totam porro reiciendis modi animi consequatur rem officia at tenetur dolore iste nemo. Reprehenderit, eius officiis. Expedita enim, possimus maxime, ullam impedit eveniet natus, voluptatem repellat, distinctio quod labore aut reprehenderit? Delectus, consectetur, neque!
			.about-images
				.col-md-3.col-sm-6.col-xs-12
					img.from-down(src="img/gallery/1.jpg" alt="АЛЬТ")
				.col-md-3.col-sm-6.col-xs-12
					img.from-down(src="img/gallery/2.jpg" alt="АЛЬТ")
				.col-md-3.col-sm-6.col-xs-12
					img.from-down(src="img/gallery/3.jpg" alt="АЛЬТ")
				.col-md-3.col-sm-6.col-xs-12
					img.from-down(src="img/gallery/4.jpg" alt="АЛЬТ")
