//- .parallax-window(data-parallax="scroll" data-positionY="bottom" naturalWidth="5472" naturalHeight="3648" data-bleed="10" data-image-src="img/bg_.jpg")
//- 	.splash-overlay
//- 		.splash-wrapper
//- 			.splash-container
//- 				.splash-center
//- 					h1. 
//- 						Ведущий системный интегратор <br>
//- 						инсталляционных услуг
//- 					.buttons
//- 						a(href="#") Наши услуги
//- 						a(href="#") Оставить заявку

header
	.container
		.row
			.col-md-12.top-wrapper
				.logo
					img(src="img/logo_.png", alt="Технотел")
					.text 
						h2 Технотел
						p Центр инсталляций
				.menu.mini
					ul
						li.active
							a(href="#") 
								i.fa.fa-sitemap
								Услуги
						li
							a(href="#")
								i.fa.fa-info
								О нас
						li
							a(href="#")
								i.fa.fa-envelope
								Контакты
				a.toggle_mnu(href="#")
					span.nav-icon
						span
						span
						span
						span

section


