@import "bourbon";
$main-color: #006AA1;
$my-black: #2D2D2D;
$my-grey: #5E5E5E;

body {
  font-size: 16px;
  min-width: 320px;
  min-height: 100%;
  position: relative;
  line-height: 1.6;
  font-family: "Ubuntu", $helvetica;
  overflow-x: hidden;
}

a {
  color: $my-black;
  &:hover, &:active, &:visited, &:focus {
    color: $my-black;
    text-decoration: none;
  }
}
.hidden {
  display: none;
}

.mfp-content {
	position: relative;
}

#callback-form {
	.list-2 {
		display: none;
	}
	text-align: center;
	width: 310px;
	background-color: $main-color;
	margin: auto;
	padding: 10px;
	h1 {
		color: white;
		font-weight: normal;
		font-size: em(22px);
		margin: 0;
		margin-top: 30px;
		margin-bottom: 20px;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding-left: 20px;
		padding-right: 20px;
	}
	label {
		color: #fff;
		display: inline-block;
		text-align: left;
	input {
		border: 0;
		outline: none;
		display: block;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 20px;
		color: $my-grey;
		padding: 5px;
	}
	}
	button {
		color: #fff;
	}
	button.send {
		display: block;
		margin: 0 auto;
		margin-bottom: 20px;
		background-color: transparent;
		border: 1px solid rgba(255,255,255,.3);
		outline: none;
		text-transform: uppercase;
		padding: 5px 15px;
		transition: all .2s;
		&:hover {
		  border-color: rgba(255,255,255,.8);
		}
	}
}

.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;

	-webkit-transition: all 0.2s ease-in-out; 
	-moz-transition: all 0.2s ease-in-out; 
	-o-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out; 



	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;

	-webkit-transform: scale(1); 
	-moz-transform: scale(1); 
	-ms-transform: scale(1); 
	-o-transform: scale(1); 
	transform: scale(1); 
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 

	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}
/*** Прелоадер ***/

.loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.loader_inner {
	background-image: url("../img/loader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 100px;
	width: 134px;
	margin-top: -50px;
	margin-left: -67px;
	left: 50%;
	top: 50%;
	position: absolute;
}


/* ======================
* HEADER
* =====================*/

header {
	z-index: 100;
	position: fixed;
	width: 100%;
	top: 0;
	height: 70px;
	background-color: #fff;
	border-bottom: 1px solid #f2f2f2;
	box-shadow: 1px -5px 15px #8C8C8C;
	.top-wrapper {
		z-index: 100;
	}
	.logo {
		float: left;
		display: inline-block;
		margin-top: 15px;
		height: 100%;
		img {
			display: inline-block;
			vertical-align: top;
			width: 40px;
			height: 40px;
		}
		.text {
			display: inline-block;
			height: 50px;
			padding-top: 5px;
			padding-left: 5px;
			h2 {
				font-size: em(20px);
				margin: 0;
				font-weight: normal;
				text-transform: uppercase;
				line-height: em(12px);
				letter-spacing: 2px;
			}
			p {
				text-transform: uppercase;
				margin: 0;
				color: #888888;
				font-size: em(12px);
				letter-spacing: 1px;
				font-weight: bold;
			}
		}
		
	}
	.menu {
		float: right;
		ul {
			font-size: em(18px);
			list-style: none;
			margin: 0;
			li {
				padding-top: 23px;
				position: relative;
				text-transform: uppercase;
				display: inline-block;
				margin-right: 15px;
				&:last-child {
					margin-right: 0;
				}
				a {
					letter-spacing: 1px;
					color: $main-color;
					display: block;
					width: 100%;
					height: 100%;
					padding: 0 2px;
					&:visited, &:link, &:hover {
						text-decoration: none;
					}
					&::before {
						content: '';
						position: absolute;
						width: 0;
						top: 100%;
						left: 0;
						border-bottom: 2px solid $main-color;
						transition: width .4s ease;
					}
					&:hover::before {
						width: 100%;
					}
					i {
						z-index: 10;
						text-align: center;
						display: inline-block;
						width: 40px;
						margin-right: 15px;
						font-size: 18px;
						color: $main-color;
						padding: 0 10px;
						transition: color 0.18s ease-in;
						display: none;
					}
				}
				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					border-top: 3px solid $main-color;
					transition: all .3s;
					opacity: 0;
				}
				&.active::before {
					opacity: 1;
				}
			}
		}
	}
	.menu-mini {
		display: none;
		float: right;
		margin-top: 70px;
		position: absolute;
		right: 0;
		z-index: -1;

		ul {
			font-size: em(18px);
			list-style: none;
			margin: 0;
			width: 250px;

			li {
				background-color: #fff;
				margin-right: 0;
				padding-top: 5px;
				border-bottom: 1px solid lighten(#000, 90%);
				position: relative;
				text-transform: uppercase;
				display: block;
				width: 100%;
				height: 40px;
				// border-left: 1px solid lighten(#000, 90%);
				border-right: 1px solid lighten(#000, 90%);
				a {
					display: block;
					width: 100%;
					height: 100%;
					padding: 0 20px;
					margin-left: 35px;
					i {
						position: absolute;
						z-index: 10;
						text-align: center;
						display: inline-block;
						width: 40px;
						left: 0px;
						top: 0px;
						font-size: 18px;
						color: $main-color;
						padding: 10px 10px;
						transition: color 0.18s ease-in;
					}
					&:hover i {
						color: #fff;
					}
					&::before {
						content: '';
						position: absolute;
						width: 0;
						top: 100%;
						left: 0;
						border-bottom: 1px solid $main-color;
						transition: width .4s ease;
					}
					&:hover::before {
						width: 100%;
					}
					&::after {
						z-index: 1;
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						height: 100%;
						width: 0;
						background-color: $main-color;
						transition: width 0.25s ease-in-out;
					}
					&:hover::after {
						width: 42px;
					}
				}
				
			}
		}
	}
}
.parallax-window {
	min-height: 600px;
	position: relative;
	overflow: hidden;
}
.splash-overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.3);
	overflow: hidden;
	.splash-wrapper {
		min-height: 500px;
		background-image: url(../img/bg_.jpg);
		background-size: cover;
		background-position-X: center;
		background-position-Y: bottom;
		display: table;
		width: 100%;
		height: 100%;
		.splash-container {
			display: table-row;
			.splash-center {
				display: table-cell;
				vertical-align: middle;
				h1 {
					// font-family: 'PT Sans Caption';
					background-color: rgba(0,0,0,.4);
					font-weight: normal;
					letter-spacing: 3px;
					font-size: em(45px);
					color: #fff;
					text-align: center;
					margin-top: 80px;
					text-transform: uppercase;
					box-shadow: rgba(0, 0, 0, 0.4) 0 0 0 1000px;
					animation-delay: .7s;
					transition: ease;
				}
				.buttons {
					animation-delay: 1.5s;
					text-align: center;
					// margin: 0 auto;
					margin-top: 50px;
					a {
						display: inline-block;
						color: #fff;
						border: 1px solid white;
						border-radius: 10px;
						padding: 15px;
						margin-right: 50px;
						text-transform: uppercase;
						transition: background-color 0.3s;
						&:last-of-type {
							margin-right: 0;
						}
						&:hover {
							background-color: darken($main-color, 5%);
						}
					}
				}
			}
		}
	}
}
section {
	z-index: 90;
	background-color: #fff;
	min-height: 300px;
}

/*** КНОПКА МЕНЮ ***/
header .toggle_mnu {
	position: absolute;
	background-color: $main-color;
	right: 15px;
	top: 10px;
	width: 50px;
	height: 50px;
	// position: fixed;
	z-index: 200;
	border: none;
	outline: none;
	padding: 10px;
	padding-left: 13px;
	border-radius: 10px;
	display: none;
}

/* Сэндвич */

.nav-icon {
	display: block;
	width: 30px;
	height: 30px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
  span {
	display: block;
	position: absolute;
	height: 2px;
	width: 24px;
	background: #fff;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
  }
  span:nth-child(1) {
	top: 7px;
  }
  span:nth-child(2),
  span:nth-child(3) {
	top: 14px;
  }
  span:nth-child(4) {
	top: 21px;
  }
  &.open span:nth-child(1) {
	top: 8px;
	width: 0%;
	left: 50%;
  }
  &.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
  }
  &.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
  }
  &.open span:nth-child(4) {
	top: 8px;
	width: 0%;
	left: 50%;
  }
}