/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
/**/
  
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .splash-overlay {
        .splash-wrapper {
            min-height: 350px;
            padding: 20px;
            .splash-container {
                .splash-center {
                    h1 {
                        font-size: 26px;
                        margin-top: 70px;
                    }
                    .buttons {
                        margin-top: 20px;
                        text-align: center;
                        a {
                            // display: block;
                            padding: 10px;
                            margin: 0 auto;
                            &:first-of-type {
                                // margin-bottom: 10px;
                                margin-right: 20px;
                            }
                            &:last-of-type {
                                margin: 0 auto;
                            }
                        }
                        text-align: center;
                    }
                }
            }
        }
    }
}
/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .splash-overlay {
        .splash-wrapper {
            min-height: 350px;
            padding: 20px;
            .splash-container {
                .splash-center {
                    h1 {
                        font-size: 26px;
                        margin-top: 70px;
                    }
                    .buttons {
                        margin-top: 20px;
                        text-align: center;
                        a {
                            display: block;
                            padding: 10px;
                            border: 1px solid white;
                            width: 180px;
                            margin: 0 auto;
                            &:first-of-type {
                                margin: 0 auto;
                                margin-bottom: 10px;
                            }
                            &:last-of-type {
                                margin: 0 auto;
                            }
                        }
                        text-align: center;
                    }
                }
            }
        }
    }
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .splash-overlay {
        .splash-wrapper {
            min-height: 350px;
            padding: 20px;
            .splash-container {
                .splash-center {
                    h1 {
                        font-size: 18px;
                        margin-top: 70px;
                    }
                    .buttons {
                        margin-top: 20px;
                        text-align: center;
                        a {
                            display: block;
                            padding: 10px;
                            border: 1px solid white;
                            width: 180px;
                            margin: 0 auto;
                            &:first-of-type {
                                margin-bottom: 10px;
                            }
                            &:last-of-type {
                                margin: 0 auto;
                            }
                        }
                        text-align: center;
                    }
                }
            }
        }
    }
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
/**/
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
/**/
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
/**/
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
/**/
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
/**/
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
/**/
}

