doctype
include ./includes/_ie-conditions 
include ./includes/_ie-conditions 
| <!--[if (gte IE 9)|!(IE)]><!-->
html(lang="ru") <!--<![endif]-->
  head
    include ./includes/_meta
    
    title Технотел
    
    include ./includes/_bs-grid
    // TODO: Header CSS (First Sections of Website: paste after release from _header.min.css here)
    
    // Loading fonts to HTML5 Storage
    include ./includes/_fonts

    include ./includes/_favicon

    // Load CSS
    include ./includes/_css-to-head

  body

    // Здесь пишем код
    include ./includes/_header
    include ./includes/_services
    include ./includes/_about_us
    include ./includes/_contacts
    include ./includes/_footer


    // HTML5 Shiv
    include ./includes/_shiv 
    
    
    
    // Loading libs js
    include ./includes/_libs